/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited {text-decoration: none;}
a:hover{text-decoration: none;}
ul, ol, li {list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
body {
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   line-height: 1.625;
}

.wrapper {
   width: 100%;
   overflow: hidden;
}
[class*="__container"] {
   max-width: 1140px;
   margin: 0 auto;
   padding: 0 15px;
}
[class*="__text"] {
   color: #727272;
}
.title {
   font-weight: 500;
   font-size: 32px;
   line-height: 1.19;
}
.header {
   padding: 30px 0;
   background-color: #E5E5E5;
}
.header__top {
   display: flex;
   align-items: center;
   margin: 0 0 80px 0;
   position: relative;
}
.header__nav {
   flex: 1 1 auto;
   margin-left: 15px;
   display: flex;
   justify-content: flex-end;
}
/*-------------------------------БУРГЕР--------------------------*/
.hidden {
   opacity: 0;
   visibility: hidden;
   position: absolute;
   left: -999999px;
}
.burger {
   position: relative;
   width: 26px;
   height: 18px;
   cursor: pointer;
}
.burger::before,
.burger span,
.burger::after {
   position: absolute;
   right: 0;
   left: 0;
   height: 2px;
   border-radius: 2px;
   background: #000;
}
.burger::before,
.burger::after {
   content: "";
}
.burger::before {
   top: 0;
}
.burger span {
   top: 8px;
}
.burger::after {
   bottom: 0;
}
.nav__item:hover {
   opacity: .7;
}
#burger:checked + .burger::before {
   transition: transform .3s ease-in;
   transform: rotate(45deg);
   top: 8px;
}
#burger:checked + .burger span {
   opacity: 0;
}
#burger:checked + .burger::after {
   transition: transform .3s ease-in;
   transform: rotate(-45deg);
   bottom: 8px;
}
#burger:checked ~ .nav__list {
   transition: opacity .3s ease-in;
   opacity: 1;
   visibility: visible;
}
.nav__list {
   position: absolute;
   top: 100%;
   right: 0;
   left: 0;
   background: rgba(238, 239, 241, 0.7);
   opacity: 0;
   visibility: hidden;
   text-align: center;
   text-transform: uppercase;
   padding: 25px 0;
}
.nav__item {
   padding: 15px 0;
}
.nav__link {
   color: #000;
}
@media (min-width: 992px) {
   .burger {
      display: none;
   }
   .nav__list {
      display: flex;
      align-items: center;
      opacity: 1;
      visibility: visible;
      position: static;
      background: none;
      padding: 0;
   }
   .nav__item {
      padding-bottom: 0;
   }
   .nav__item + .nav__item {
      padding: 0 0 0 42px;
   }
}
/*--------------------------------------------------------------*/
.header__hero {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin: 0 0 25px 0;
}
.header__img {
   flex: 1 1 47%;
   display: flex;
   align-items: center;
   margin: 0 0 25px 0;
}
.header__col {
   flex: 1 1 53%;
   padding: 0 15px 15px;
   margin: 0 -15px;
   text-align: center;
}
.header__title {
   font-weight: 500;
   font-size: 48px;
   margin: 0 0 20px 0;
}
.header__text {
   margin: 0 0 30px 0;
}
.btn {
   display: inline-block;
   background-color: #34547A;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: 0.15em;
   border: #34547A solid 1px;
   padding: 20px 40px;
}
.btn:hover {
   opacity: .9;
}
@media (min-width: 992px) {
   .header__hero {
      flex-direction: row;
      align-items: center;
      margin: 0 0 70px 0;
   }
   .header__img {
      justify-content: center;
   }
   .header__title {
      margin: 0 0 50px 0;
   }
   .header__text {
      margin: 0 0 50px 0;
   }
   .header {
      padding: 60px 0;
   }
   .header__top {
      margin: 0 0 140px 0;
   }
   .header__hero {
      margin: 0 0 45px 0;
   }
}
/*--------------------------MAIN-----------------------*/
.about {
   background-color: #EEEFF1;
   padding: 80px 0 60px 0;
}
.about__info {
   margin: 0 0 20px 0;
}
.info {
   max-width: 540px;
   margin: 0 auto;
   text-align: center;
}
.info__title {
   margin: 0 0 20px 0;
}
@media (min-width: 992px) {
   .about {
      padding: 120px 0 80px 0;
   }
   .info__title {
      margin: 0 0 40px 0;
   }
}
.proj {
   background-color: #34547A;
   padding: 80px 0 65px 0;
}
.proj__row {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -25px;
}
.proj__card {
   flex: 1 1 33.333%;
   display: flex;
   padding: 0 25px;
   align-items: center;
   justify-content: center;
   margin: 0 0 15px 0;
}
.proj__icon {
   margin-right: 20px;
}
.proj__col {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
.proj__num {
   margin: 0 0 10px 0;
}
.h3 {
   font-weight: 500;
   font-size: 21px;
   line-height: 1;
   color: #FFFFFF;
}
.proj__name {
   color: #FFFFFF;
   line-height: 1;
}
@media (min-width: 1200px) {
   .proj__card {
      flex: 1 1 16.666%;
   }
   .proj {
      padding: 100px 0 85px 0;
   }
}
/*--------------------------------SKILL---------------------*/
.skill {
   background-color: #EEEFF1;
   padding: 80px 0 20px 0;
}
.skill__row {
   display: flex;
   flex-direction: column-reverse;
   align-items: center;
   margin: 0 0 20px 0;
}
.skill__col {
   flex: 1 1 50%;
   padding-right: 15px;
   text-align: center;
}
.col__title {
   margin: 0 0 40px 0;
}
.col__box {
   max-width: 445px;
}
.col__item {
   margin: 0 0 30px 0;
}
.col__text {
   margin-bottom: 20px;
}
.col__loader {
   height: 4px;
   background-color: #C4C4C4;
}
.col__load {
   height: 100%;
   background: #34547A;
}
.skill__img {
   height: 450px;
   width: 555px;
   background-size: cover;
   margin: 0 0 40px 0;
}
@media (min-width: 992px) {
   .skill__row {
      flex-direction: row;
   }
   .skill__col {
      text-align: left;
   }
   .skill {
      padding: 100px 0 40px 0;
   }
}
/*-------------------------------WORK-----------------*/
.work {
   padding: 80px 0 70px 0;
   background-color: #E5E5E5;
}
.work__info {
   padding-bottom: 30px;
}
.work__video {
   position: relative;
   margin: 0 0 20px 0;
}
.work__video:after {
   content: "";
   display: block;
   position: absolute;
   top: 50%;
   left: 50%;
   width: 100px;
   height: 100px;
   background-image: url(img/play-button.svg);
   background-size: cover;
   transform: translate(-50%, -50%);
}
.work__video:hover:after {
   background-image: url(img/play-button-blue.svg);
}
.work__video img {
   display: block;
   max-height: 100%;
   max-width: 100%;
   object-fit: fill;
}
@media (min-width: 992px) {
   .work {
      padding: 100px 0 80px 0;
   }
   .work__info {
      padding-bottom: 50px;
   }
}
/*-------------------------------GALLERY-------------------------------------*/
.gallery {
   padding: 28px 0 40px 0;
   background-color: #EEEFF1;
}
.gallery__row {
   display: flex;
   flex-wrap: wrap;
   margin: 0 0 60px 0;
}
.gallery__col {
   width: 25%;
   padding-top: 25%;
   background-size: cover;
   background-position: center;
   position: relative;
}
.gallery__col::before {
   content: "";
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(52, 84, 122, .8);
   opacity: 0;
   visibility: hidden;
}
.gallery__col::after {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100px;
   height: 58px;
   background: url(img/eye.svg);
   background-size: cover;
   opacity: 0;
   visibility: hidden;
}
.gallery__col:hover::before,
.gallery__col:hover::after {
   opacity: 1;
   visibility: visible;
   transition: opacity .3s ease-in;
}
.gallery__icons {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   margin: 0 -5px 15px -5px;
}
.gallery__icon {
   padding: 5px;
   width: 25%;
   text-align: center;
}
.gallery__icon img {
   display: block;
   width: 100%;
   object-fit: contain;
}
@media (min-width: 992px) {
   .gallery {
      padding: 28px 0 80px 0;
   }
   .gallery__row {
      margin: 0 0 72px 0;
   }
}
/*---------------------------CONTACT---------------------------*/
.contact {
   padding: 80px 0 60px 0;
   background-color: #E5E5E5;
}
.contact__container {
   max-width: 570px;
}
.contact__info {
   margin: 0 0 60px 0;
}
.contact__form {
   text-align: center;
   margin: 0 0 20px 0;
}
.form__name {
   margin-right: 30px;
}
.form__name, .form__mail {
   flex: 1 1 50%;
}
.form__row {
   display: flex;
   margin: 0 0 20px 0;
}
.form__msg {
   width: 100%;
   height: 175px;
   margin: 0 0 50px 0;
}
#name, #mail, #msg {
   font-size: 16px;
   padding: 17px 20px;
}
#name, #mail {
   width: 100%;
}
#msg {
   width: 100%;
   height: 100%;
   overflow: scroll;
   resize: none;
}
.form__btn {
   background: #34547A;
   color: #fff;
   font-size: 14px;
   line-height: 1.64;
   text-align: center;
   letter-spacing: 0.15em;
   text-transform: uppercase;
}
@media (min-width: 992px) {
   .contact {
      padding: 100px 0 80px 0;
   }
}
/*--------------------------FOOTER--------------------------*/
.footer {
   background-color: #34547A;
   padding: 50px 0 30px;
}
.footer__row {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
}
.footer__col {
   padding: 0 15px 0 0;
   margin: 0 0 20px 0;
}
.footer__name {
   margin-bottom: 20px;
}
.footer__rights {
   font-size: 13px;
   line-height: 1.6;
   color: #fff;
}
.footer__media {
   flex: 1 1 auto;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}
.footer__vk + .footer__vk{
   padding-left: 20px;
}
